Source: bootscript-odroidgo2
Section: admin
Priority: optional
Maintainer: Dongjin Kim <tobetter@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: https://github.com/tobetter/u-boot

Package: bootscript-odroidgo2
Architecture: arm64
Depends: ${misc:Depends}, flash-kernel, u-boot-tools
Description: Boot script to run by U-boot
 This package will execute once on the first boot since installed.
